body{
    background: #ecf1f9;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px auto;
}

#container{
  width: 960px;
  margin: 0 auto;
}

.mapa{
    
    background: #fbfcfd;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px auto;
}

#menu-principal{
  height: 117px;
  background-color: #1e1c1f;
}

#menu-principal img{
  float: left;
}


#menu-principal ul{
  padding: 0;
  display: inline;
  margin-top: 40px;
  float: left;
  margin-left: 10px;
}

#menu-principal ul li{
  display: inline;
  padding: 4px 15px;
}

#menu-principal ul li a{
  text-decoration: none;
  color: #ffffff;
}

#noticias {
  margin-top: 10px;
}

#noticias h3 {
  font-size: 40pt;
  font-weight: bold;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#noticias .noticia {
  background-color: green;
  margin: 0 2.5px;
  width: 315px;
  float: left;
  margin-bottom: 10px;
}

#noticias .noticia img{
  position: absolute;
}

#noticias .noticia span{
  color: #ffffff;
  position: relative;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  margin-top: 170px;
  height: 50px;
  overflow: hidden;
  line-height: 25px;
}

#que-es-flisol {
  background-color: red;
  margin-top: 20px;
  height: 120px;
}

/* Calculate fluid ratio based on two dimensions (width/height) */
@mixin header($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}


.header
{
    @include header(800px 200px, 300px 150px);
    margin-top: 30px;
    background-image: url(img/header.png);
    height: 400px;  /* start height */
    background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

.tituloflisol{
    text-align:center;
    font-size: 400%;
    vertical-align:100px;
    
}